<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>个人中心 - 我的问题</title>
  <meta name="Keywords" content="关键词" />
  <meta name="Description" content="描述" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <%- include ../layout/bootstrap-css -%>
</head>
<body class="page-centre">
  <%- include ../layout/header-user -%>
    <main id="content" class="container flex-justify-between">
      <%- include ./parts/centre-nav -%>
      <div class="centre-auto">
          <section class="top-header">
            <a class="top-header-tab active" href="#">
              私信
            </a>
            <a class="top-header-tab" href="#">
              系统通知
            </a>
          </section>
          <section class="message-list">
            <article class="message-article">
              <a class="mod-avatar" data-uid="24cd6162636131633563662559" href="/pai/center?uid=24cd6162636131633563662559" style="background-image: url(&quot;https://gss0.baidu.com/9fo3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D450%2C600/sign=21612f75580fd9f9a0425d6d101df81c/f703738da977391279828568f1198618367ae217.jpg&quot;);"></a>
              <div class="mod-user">
                <a data-uid="5cd06162633437343533669408" href="/pai/center?uid=5cd06162633437343533669408" class="vm-nickname">良宵秋月</a>
              </div>
              <div class="mod-answer">
                目前国内最好的就是广州和珠海的长隆，以及上海的迪士尼，其他的都还差很多。 推荐长隆，有海洋王国、动物世界、欢乐世界、水上乐园...
                <time class="vm-time">
                  [3分钟前]
                  </tiem>
              </div>
            </article>
            <article class="message-article">
              <a class="mod-avatar" data-uid="24cd6162636131633563662559" href="/pai/center?uid=24cd6162636131633563662559" style="background-image: url(&quot;https://gss0.baidu.com/9fo3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D450%2C600/sign=21612f75580fd9f9a0425d6d101df81c/f703738da977391279828568f1198618367ae217.jpg&quot;);"></a>
              <div class="mod-user">
                <a data-uid="5cd06162633437343533669408" href="/pai/center?uid=5cd06162633437343533669408" class="vm-nickname">良宵秋月</a>
              </div>
              <div class="mod-answer">
                目前国内最好的就是广州和珠海的长隆，以及上海的迪士尼，其他的都还差很多。 推荐长隆，有海洋王国、动物世界、欢乐世界、水上乐园...
                <time class="vm-time">
                  [3分钟前]
                  </tiem>
              </div>
            </article>
            <article class="message-article">
              <a class="mod-avatar" data-uid="24cd6162636131633563662559" href="/pai/center?uid=24cd6162636131633563662559" style="background-image: url(&quot;https://gss0.baidu.com/9fo3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D450%2C600/sign=21612f75580fd9f9a0425d6d101df81c/f703738da977391279828568f1198618367ae217.jpg&quot;);"></a>
              <div class="mod-user">
                <a data-uid="5cd06162633437343533669408" href="/pai/center?uid=5cd06162633437343533669408" class="vm-nickname">良宵秋月</a>
              </div>
              <div class="mod-answer">
                目前国内最好的就是广州和珠海的长隆，以及上海的迪士尼，其他的都还差很多。 推荐长隆，有海洋王国、动物世界、欢乐世界、水上乐园...
                <time class="vm-time">
                  [3分钟前]
                  </tiem>
              </div>
            </article>
            <article class="message-article">
              <a class="mod-avatar" data-uid="24cd6162636131633563662559" href="/pai/center?uid=24cd6162636131633563662559" style="background-image: url(&quot;https://gss0.baidu.com/9fo3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D450%2C600/sign=21612f75580fd9f9a0425d6d101df81c/f703738da977391279828568f1198618367ae217.jpg&quot;);"></a>
              <div class="mod-user">
                <a data-uid="5cd06162633437343533669408" href="/pai/center?uid=5cd06162633437343533669408" class="vm-nickname">良宵秋月</a>
              </div>
              <div class="mod-answer">
                目前国内最好的就是广州和珠海的长隆，以及上海的迪士尼，其他的都还差很多。 推荐长隆，有海洋王国、动物世界、欢乐世界、水上乐园...
                <time class="vm-time">
                  [3分钟前]
                  </tiem>
              </div>
            </article>
            <article class="message-article">
                <a class="mod-avatar" data-uid="24cd6162636131633563662559" href="/pai/center?uid=24cd6162636131633563662559" style="background-image: url(&quot;https://gss0.baidu.com/9fo3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D450%2C600/sign=21612f75580fd9f9a0425d6d101df81c/f703738da977391279828568f1198618367ae217.jpg&quot;);"></a>
                <div class="mod-user">
                  <a data-uid="5cd06162633437343533669408" href="/pai/center?uid=5cd06162633437343533669408" class="vm-nickname">良宵秋月</a>
                </div>
                <div class="mod-answer">
                  目前国内最好的就是广州和珠海的长隆，以及上海的迪士尼，其他的都还差很多。 推荐长隆，有海洋王国、动物世界、欢乐世界、水上乐园...
                  <time class="vm-time">
                    [3分钟前]
                    </tiem>
                </div>
              </article>
          </section>
          <div class="load-more"><a id="J_loadMore" href="#">加载更多<i></i></a></div>
        </div>
      <%- include ./parts/centre-other -%>
    </main>
    <%- include ../layout/footer -%>
</body>

</html>